<!-- <h3>Title: {{ list.myTitle }}</h3> -->
<div class="">
<ol>
      <ul>
        <li>
            Description:  {{item.description}}
          <button ng-click="menu.removeItem($index);">Don't want this one!</button>
        </li>
      </ul>
  <!-- <li ng-repeat="item in list.items">
    {{ item.quantity }} of {{ item.name }} -->
    <!-- <button ng-click="list.badRemove($index);">Bad Remove Item</button> -->
  </li>
</ol>
</div>
<!-- <div class="error" ng-if="list.cookiesInList()">WARNING! WARNING! COOKIES DETECTED!</div> -->
