<!DOCTYPE html>
<html ng-app="myFirstApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>My first AngularJS App</title>
  </head>
  <body>
    <div ng-controller="MyFirstController">
      <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
              ng-model="stringtosplit"
              ng-blur="CalculateHowMuch()"
              class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="CalculateHowMuch()">Check If Too Much</button>
           <div>
             {{howMuch}}
           </div>
        </div>

  </body>
</html>
